<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CusomerButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F97624B11E6E91DD005D3015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F97624CA1E6E91DD005D3015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F97624D51E6E91DD005D3015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
